# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Variables de entorno
.env
**/.env

# Node
node_modules/

# Archivos generados
data/measurements.json

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db