MONGO_URL=mongodb+srv://usuario:password@cluster0.mongodb.net/
# Recordar usar el string adecuado, este es un link genérico
DB_NAME=fittrack_progress

# URLs de red para comunicarse con los demás microservicios por HTTP/REST
MEASUREMENTS_SERVICE_URL=http://servidorUbuntu2:8001
USERS_SERVICE_URL=http://servidorUbuntu2:8002

