MONGO_URL=mongodb+srv://javari0:1056294738@cluster0.omi1wos.mongodb.net/?appName=Cluster0
DB_NAME=fittrack_progress
MEASUREMENTS_SERVICE_URL=http://localhost:8001
USERS_SERVICE_URL=http://localhost:8002
