# Configuración del servidor
USERS_SERVICE_URL=http://localhost:8002

# Conexión a Base de Datos (PostgreSQL)
# Formato local: postgresql+psycopg://usuario:password@localhost:5432/fittrack_users
# Formato Supabase: postgresql+psycopg://postgres:[TU_PASSWORD]@db.[TU_PROYECTO].supabase.co:5432/postgres
DATABASE_URL=postgresql+psycopg://usuario:password@localhost:5432/fittrack_users

# Configuración de Seguridad (JWT)
SECRET_KEY=reemplaza_esto_con_un_hash_largo_y_seguro_para_desarrollo
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60