GOALS_PORT=8004
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña_aqui
DB_NAME=goals
USERS_SERVICE_URL=http://localhost:8002
WORKOUTS_SERVICE_URL=http://localhost:3000
PROGRESS_SERVICE_URL=http://localhost:8005